﻿body {
    background: #52527a;
    color:#fff;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.jumbotron {
    color: #52527a;
}

#overview span {
    color: #000;
}

#overview h3, #overview h2, #usefullinks h3 {
    color: #ffe6e6;
}

#usefullinks li {
    text-transform: uppercase;
}

#usefullinks a {
    text-decoration: none;
    color: #52527a;
}

#usefullinks a:hover {
        color: #b89494;
    }

#usefullinks {
    padding: 5px;
}
/*Navigation*/
#nav {
    background: #b3b3cc;
}
#nav a{
    color:#fff;
}

#nav a:hover {
    color: #52527a;
}

footer {
    clear: both;
    border-top: solid 2px #464659;
    padding: 5px;
}
