﻿body {
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
#overview span {
    color: #ff6a00;
}
#overview h3, #usefullinks h3 {
    color: #ff6a00;
}
#usefullinks li {
    text-transform: uppercase;
}

#usefullinks a {
    text-decoration: none;
    color: #808080;
}
    #usefullinks a:hover {
        color: #ff6a00;
    }

#usefullinks {
    padding: 5px;
}
/*Navigation*/
#nav {
    background: #fff;
}

    #nav a:hover {
        color: #ff6a00;
    }

footer {
    clear: both;
    border-top: solid 2px #ff6a00;
    padding: 5px;
}
