﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CodeBox.ascx.cs" Inherits="Assignment2a.CodeBox" %>


<div id="examples">
  <asp:DataGrid ID="CodeBoxOne" runat="server" SkinID="code-light" >
  </asp:DataGrid>
</div>